<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<nlog autoReload="true" internalLogLevel="Trace" internalLogFile="nlog.log" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<variable name="day" value="${date:format=dd}" />
		<variable name="month" value="${date:format=MM}" />
		<variable name="year" value="${date:format=yyyy}" />
		<variable name="BriefLayout" value="${longdate} : Error-Level: ${level:upperCase=true}; Logger-Name: ${logger}; Error-Message: ${event-context:item=error-message}; " />
		<variable name="VerboseLayout" value="${BriefLayout} Inner-Error-Message: ${event-context:item=inner-error-message}; Error-Source: ${event-context:item=error-source}; Error-Class: ${event-context:item=error-class}; Error-Method: ${event-context:item=error-method}; Stacktrace: ${exception:format=stacktrace}" />
		<variable name="ExceptionVerboseLayout" value="${BriefLayout} Inner-Error-Message: ${event-context:item=inner-error-message}; ${newline} ${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
		<targets>
			<target name="eventLog" xsi:type="EventLog" layout="${message}" machineName="." source="EAMI" log="Application" />
			<target name="errorFile" xsi:type="File" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.error.log" layout="
        -------------- ${level} (${longdate}) --------------${newline}
        ${newline}
        Call Site: ${callsite}${newline}
        Exception Type: ${exception:format=Type}${newline}
        Exception Message: ${exception:format=Message}${newline}
        Stack Trace: ${exception:format=StackTrace}${newline}
        Additional Info: ${message}${newline}" />
			<target name="nlogTraceFile" xsi:type="File" layout="${VerboseLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.nLogTrace.log" />
			<target xsi:type="Mail"
				 name="ErrEmail"
				 smtpServer="smtpoutbound.dhs.ca.gov"
				 from="noReply@dhcs.ca.gov"
				 to="meetu.saini@dhcs.ca.gov"
				 subject="${appName}: Exception Error"
				 body="${linePrefix}${message}${newline}${exceptionFormat}"/>

		</targets>
		<rules>
			<logger name="*" leves="Warn" writeTo="eventLog" />
			<logger name="*" levels="Fatal,Error" writeTo="errorFile" />
			<logger name="*" leves="Trace,Info" writeTo="nlogTraceFile" />
			<logger name="*" leves="Fatal,Error" writeTo="ErrEmail" />
		</rules>
	</nlog>
	<system.web>
		<compilation targetFramework="4.6.2" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<connectionStrings>
		<add name="EAMIData" connectionString="server=DHITSAWSSQLID11; Trusted_Connection=yes; database=EAMI-MC; connection timeout=30" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	</connectionStrings>

	<appSettings>
		<add key="DataSvcAuthorizationEnabled" value="false"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	</appSettings>


	<system.web>
		<compilation debug="true" />
		<customErrors mode="Off"/>

		<httpRuntime targetFramework="4.6.2" />

	</system.web>

	<!-- When deploying the service library project, the content of the config file must be added to the host's 
  	app.config file. System.Configuration does not support config files for libraries. -->
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="209715200" />
			</requestFiltering>
		</security>
	</system.webServer>

	<system.serviceModel>
		<services>
			<service name="OHC.EAMI.Service.EAMIServiceOperations">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:80/EAMIServiceOperations"  xdt:Transform="Replace"/>
					</baseAddresses>
				</host>
				<!--Service Endpoints 
         Unless fully qualified, address is relative to base address supplied above-->
				<endpoint address="" binding="basicHttpBinding" contract="IEAMIServiceOperations">

					<!--Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.-->

					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<!--Metadata Endpoints 
         The Metadata Exchange endpoint is used by the service to describe itself to clients. 
         This endpoint does not use a secure binding and should be secured or removed before deployment-->
				<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
			</service>
		</services>

		<bindings>

			<!--<basicHttpsBinding>        
        <binding maxReceivedMessageSize="209715200">
          <security mode="Transport">
            <transport clientCredentialType="Windows"></transport>
          </security>
	</binding>          
      </basicHttpsBinding>-->

			<basicHttpBinding>
				<binding maxReceivedMessageSize="209715200">
				</binding>
			</basicHttpBinding>

			<!--<wsHttpBinding>
        <binding maxReceivedMessageSize="209715200">
          <security mode="Message">
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>-->

			<!--<wsHttpBinding>
        <binding maxReceivedMessageSize="209715200">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Windows"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>-->

		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!--To avoid disclosing metadata information, 
          set the values below to false before deployment-->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<!--To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information-->
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
</configuration>
<!--ProjectGuid: ACC19CFB-3910-46C9-BF24-32BF2309706D-->