<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="day" value="${date:format=dd}"/>
    <variable name="month" value="${date:format=MM}"/>
    <variable name="year" value="${date:format=yyyy}"/>
    
    <variable name="BriefLayout" value="${longdate} ${level:upperCase=true} ${logger} : ${message}"/>
    <variable name="VerboseLayout" value="${longdate} ${level:upperCase=true} ${logger} ${message} (${callsite:includSourcePath=true})"/>
    <variable name="ExceptionVerboseLayout" value="${VerboseLayout}${newline}(${stacktrace:topFrames=10})${newline}${exception:format=ToString}"/>
    
    <targets>
      <target name="eventLog" xsi:type="EventLog" layout="${message}" machineName="." source="EAMI" log="Application"/>
      <target name="file" xsi:type="File" layout="${BriefLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.log"/>
      <target name="errorFile" xsi:type="File" layout="${ExceptionVerboseLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.error.log"/>
      <target name="nlogTraceFile" xsi:type="File" layout="${VerboseLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.nLogTrace.log"/>
    </targets>
    
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file"/>
      <logger name="*" minlevel="Error" writeTo="errorFile"/>
      <logger name="*" minlevel="Warn" writeTo="eventLog"/>
      <logger name="OHC.EAMI.NLog.*" level="Trace" writeTo="nlogTraceFile"/>
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
