################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OHC.EAMI.AllSolution
/OHC.EAMI.Common/bin/Debug
/OHC.EAMI.Common/obj/Debug
/OHC.EAMI.CommonEntity/bin/Debug
/OHC.EAMI.CommonEntity/obj/Debug
/OHC.EAMI.DataAccess/bin/Debug
/OHC.EAMI.DataAccess/obj/Debug
/OHC.EAMI.Database/bin/Debug
/OHC.EAMI.Database/obj/Debug
/OHC.EAMI.FTSASTaskActions/bin/Debug
/OHC.EAMI.FTSASTaskActions/obj/Debug
/OHC.EAMI.SCO/bin/Debug
/OHC.EAMI.SCO/obj/Debug
/OHC.EAMI.Service/bin/Debug
/OHC.EAMI.Service/obj/Debug
/OHC.EAMI.ServiceContract/bin/Debug
/OHC.EAMI.ServiceContract/metadata/OHC-EAMI-Arrays1.1.xsd
/OHC.EAMI.ServiceContract/metadata/OHC-EAMI-Serialization1.1.xsd
/OHC.EAMI.ServiceContract/metadata/OHC-EAMI-ServiceContract1.1.wsdl
/OHC.EAMI.ServiceContract/metadata/OHC-EAMI-ServiceContract1.1.wsdl
/OHC.EAMI.ServiceContract/metadata/OHC-EAMI-ServiceContract1.1.xsd
/OHC.EAMI.ServiceContract/metadata/OHC-EAMI-ServiceOpMessage1.1.xsd
/OHC.EAMI.ServiceContract/obj/Debug
/OHC.EAMI.ServiceHost/bin
/OHC.EAMI.ServiceHost/obj/Debug
/OHC.EAMI.ServiceHost/OHC.EAMI.ServiceHost.csproj.user
/OHC.EAMI.ServiceManager/bin/Debug
/OHC.EAMI.ServiceManager/obj/Debug
/OHC.EAMI.Util/bin/Debug
/OHC.EAMI.Util/obj/Debug
/OHC.EAMI.WebUI/bin
/OHC.EAMI.WebUI/obj/Debug
/OHC.EAMI.WebUI/OHC.EAMI.WebUI.csproj.user
/OHC.EAMI.WebUIService/bin/Debug
/OHC.EAMI.WebUIService/obj/Debug
/OHC.EAMI.WebUIServiceHost/bin
/OHC.EAMI.WebUIServiceHost/obj/Debug
/OHC.EAMI.WebUIServiceHost/OHC.EAMI.WebUIServiceHost.csproj.user
/OHC.EAMI.WebUIServiceManager/bin/Debug
/OHC.EAMI.WebUIServiceManager/obj/Debug
/UnitTest/OHC.EAMI.FTSASTaskActions.Test/bin/Debug
/UnitTest/OHC.EAMI.FTSASTaskActions.Test/obj/Debug
/Assemblies/OHC.EAMI.Common.dll
/Assemblies/OHC.EAMI.CommonEntity.dll
/Assemblies/OHC.EAMI.DataAccess.dll
/Assemblies/OHC.EAMI.FTSASTaskActions.dll
/Assemblies/OHC.EAMI.SCO.dll
/Assemblies/OHC.EAMI.Service.dll
/Assemblies/OHC.EAMI.ServiceContract.dll
/Assemblies/OHC.EAMI.ServiceManager.dll
/Assemblies/OHC.EAMI.Util.dll
/Assemblies/OHC.EAMI.WebUI.dll
/Assemblies/OHC.EAMI.WebUIService.dll
/Assemblies/OHC.EAMI.WebUIServiceManager.dll
/OHC.EAMI.WebUIService/OHC.EAMI.WebUIService.csproj.user
/OHC.EAMI.Service/OHC.EAMI.Service.csproj.user
/OHC.EAMI.SqlDatabase/OHC.EAMI.SqlDatabase.dbmdl
/UnitTest/.vs/AllTestSolution/FileContentIndex
/UnitTest/.vs/AllTestSolution/v17/.suo
/UnitTest/EAMIWebUIDataService.Test/bin/Debug
/UnitTest/EAMIWebUIDataService.Test/obj/Debug
/UnitTest/OHC.EAMI.AppServiceManager.Test/bin/Debug
/UnitTest/OHC.EAMI.AppServiceManager.Test/obj/Debug
/UnitTest/OHC.EAMI.CalStar.Test/bin/Debug
/UnitTest/OHC.EAMI.DataAccess.Test/bin/Debug
/UnitTest/OHC.EAMI.DataAccess.Test/obj/Debug
/UnitTest/OHC.EAMI.DataServiceManager.Test/bin/Debug
/UnitTest/OHC.EAMI.DataServiceManager.Test/obj/Debug
/UnitTest/OHC.EAMI.NLog.Test/bin/Debug
/UnitTest/OHC.EAMI.NLog.Test/obj/Debug
/UnitTest/OHC.EAMI.CalStar.Test/obj/Debug
/UnitTest/OHC.EAMI.Common.Test/bin/Debug
/UnitTest/OHC.EAMI.Common.Test/obj/Debug
/UnitTest/OHC.EAMI.SCO.Test/bin/Debug
/UnitTest/OHC.EAMI.SCO.Test/obj/Debug
/UnitTest/OHC.EAMI.Util.Test
/UnitTest/OHC.EAMI.WebUI.Test/bin/Debug
/UnitTest/OHC.EAMI.WebUI.Test/obj/Debug
/UnitTest/Assemblies
/OHC.EAMI.WebUI/logs
/OHC.EAMI.WebUIServiceHost/logs
/OHC.EAMI.Database/dbo.UpdateFund.StoredProcedure.sql
/packages
/UnitTest/OHC.EAMI.WebUI.Test/OHC.EAMI.WebUI.Test.csproj.user
/UnitTest/.vs/AllTestSolution/v17/TestStore/0
