<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<nlog autoReload="true" internalLogLevel="Trace" internalLogFile="nlog.log" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<variable name="day" value="${date:format=dd}" />
		<variable name="month" value="${date:format=MM}" />
		<variable name="year" value="${date:format=yyyy}" />
		<variable name="BriefLayout" value="${longdate} ${level:upperCase=true} ${logger} : ${message}" />
		<variable name="VerboseLayout" value="${longdate} ${level:upperCase=true} ${logger} ${message} (${callsite:includSourcePath=true})" />
		<variable name="ExceptionVerboseLayout" value="${VerboseLayout}${newline}(${stacktrace:topFrames=10})${newline}${exception:format=ToString}" />
		<targets>
			<target name="eventLog" xsi:type="EventLog" layout="${message}" machineName="." source="EAMI" log="Application" />
			<target name="errorFile" xsi:type="File" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.error.log" layout="
   			 -------------- ${level} (${longdate}) --------------${newline}
   			 ${newline}
    			Call Site: ${callsite}${newline}
    			Exception Type: ${exception:format=Type}${newline}
    			Exception Message: ${exception:format=Message}${newline}
    			Stack Trace: ${exception:format=StackTrace}${newline}
    			Additional Info: ${message}${newline}" />
			<target name="nlogTraceFile" xsi:type="File" layout="${VerboseLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.log" />
			<target xsi:type="Mail"
				 name="ErrEmail"
				 smtpServer="smtpoutbound.dhs.ca.gov"
				 from="noReply@dhcs.ca.gov"
				 to="meetu.saini@dhcs.ca.gov"
				 subject="${appName}: Exception Error"
				 body="${linePrefix}${message}${newline}${exceptionFormat}"/>

		</targets>
		<rules>
			<logger name="*" minlevel="Trace,Info" writeTo="nlogTraceFile"/>
			<logger name="*" minlevel="Error" writeTo="errorFile"/>
			<logger name="*" minlevel="Warn" writeTo="eventLog"/>
			<logger name="*" levels="Fatal,Error" writeTo="ErrEmail" />
		</rules>
	</nlog>

	<connectionStrings>
		<add name="EAMIData" connectionString="server=DHITSAWSSQLID11; Trusted_Connection=yes; database=EAMI-MC; connection timeout=30" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
	</connectionStrings>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="DomainName" value="intra.dhs.ca.gov" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="MailServer" value="smtpoutbound.dhs.ca.gov" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="MailServerPort" value="25" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="MailServerDefaultEmailID" value="NoReply@dhcs.ca.gov" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="IsProductionEnvironment" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<add key="SMTPServer" value="smtpoutbound.dhs.ca.gov" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="NoReplyEmailAddr" value="NoReply@dhcs.ca.gov" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="WebUISvcAuthorizationEnabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />

	</appSettings>

	<system.web>
		<compilation debug="true" />
		<httpRuntime targetFramework="4.6.2" />
	</system.web>
	<!-- When deploying the service library project, the content of the config file must be added to the host's 
  	app.config file. System.Configuration does not support config files for libraries. -->

	<system.serviceModel>
		<!--<diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="3000" />
      <endToEndTracing propagateActivity="true" activityTracing="true"
        messageFlowTracing="true" />
    </diagnostics>-->
		<bindings>
			<webHttpBinding>
				<binding name="EAMIwebHttpBinding" maxReceivedMessageSize="2147483646" maxBufferPoolSize="2147483646" sendTimeout="00:30:00" receiveTimeout="00:30:00" closeTimeout="00:30:00" openTimeout="00:30:00">
					<readerQuotas maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxDepth="2147483646" maxStringContentLength="2147483646" maxNameTableCharCount="2147483646" />
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="EAMIService.Behavior" name="OHC.EAMI.WebUIService.EAMIWebUIDataService">
				<endpoint address="" binding="webHttpBinding" contract="OHC.EAMI.CommonEntity.IEAMIWebUIDataService" bindingConfiguration="EAMIwebHttpBinding" behaviorConfiguration="Web">
					<identity>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://DHITSAWSAPPID05:80/EAMIWebUIDataService.svc" xdt:Transform="Replace" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="Web">
					<webHttp helpEnabled="false" />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="EAMIService.Behavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer maxItemsInObjectGraph="2147483646" />
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="webHttpBinding" scheme="http" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
				<add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
			</customHeaders>
		</httpProtocol>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>

</configuration>