<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EAMIData" connectionString="server=DHITSAWSSQLID11; Trusted_Connection=yes; database=EAMI-MC; connection timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.serviceModel>
		<!--<diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="3000" />
      <endToEndTracing propagateActivity="true" activityTracing="true"
        messageFlowTracing="true" />
    </diagnostics>-->
		<bindings>
			<webHttpBinding>
				<binding name="EAMIwebHttpBinding" maxReceivedMessageSize="2147483646" maxBufferPoolSize="2147483646" sendTimeout="00:30:00" receiveTimeout="00:30:00" closeTimeout="00:30:00" openTimeout="00:30:00">
					<readerQuotas maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxDepth="2147483646" maxStringContentLength="2147483646" maxNameTableCharCount="2147483646"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="EAMIService.Behavior" name="OHC.EAMI.WebUIService.EAMIWebUIDataService">
				<endpoint address="" binding="webHttpBinding" contract="OHC.EAMI.CommonEntity.IEAMIWebUIDataService" bindingConfiguration="EAMIwebHttpBinding" behaviorConfiguration="Web">
					<identity/>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:80/OHC.EAMI.WebUIServiceHost/EAMIWebUIDataService.svc"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="Web">
					<webHttp helpEnabled="false"/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="EAMIService.Behavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483646"/>
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="webHttpBinding" scheme="http"/>
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
