<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="day" value="${date:format=dd}"/>
    <variable name="month" value="${date:format=MM}"/>
    <variable name="year" value="${date:format=yyyy}"/>

    <variable name="BriefLayout" value="${longdate} : Error-Level: ${level:upperCase=true}; Logger-Name: ${logger}; Error-Message: ${Message}; Inner-Error-Message: ${event-context:item=inner-error-message}; Error-Source: ${event-context:item=error-source}; Error-Class: ${event-context:item=error-class}; Error-Method: ${event-context:item=error-method};"/>
    <variable name="VerboseLayout" value="${BriefLayout} Stacktrace: ${exception:format=stacktrace}"/>
    <variable name="ExceptionVerboseLayout" value="${BriefLayout}${newline} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>

    <targets>
      <target name="eventLog" xsi:type="EventLog" layout="${message}" machineName="." source="EAMI" log="Application"/>
      <target name="file" xsi:type="File" layout="${BriefLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.log"/>
      <target name="errorFile" xsi:type="File" layout="${ExceptionVerboseLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.error.log"/>
      <target name="nlogTraceFile" xsi:type="File" layout="${VerboseLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.nLogTrace.log"/>
      <target name="console" xsi:type="Console" layout="${ExceptionVerboseLayout}"/>
    </targets>

    <rules>
      <!--<logger name="*" minlevel="Debug" writeTo="console" />
      <logger name="*" minlevel="Trace" writeTo="file" />-->
      <logger name="*" minlevel="Error" writeTo="errorFile"/>
      <!--<logger name="*" minlevel="Warn" writeTo="eventLog" />
      <logger name="OHC.EAMI.NLog.*" level="Trace" writeTo="nlogTraceFile" />-->
    </rules>
  </nlog>
  
  <connectionStrings>
    <add name="CAPMANData" connectionString="server=DHOHCGOLSQLIS21; Trusted_Connection=yes; database=OHC820; connection timeout=30" providerName="System.Data.SqlClient"/>
    <!--<add name="EAMIData" connectionString="server=localhost; Trusted_Connection=yes; database=EAMI; connection timeout=30" providerName="System.Data.SqlClient"/>-->
    <!--<add name="EAMIData" connectionString="server=DHITSAWSSQLISTAG11; Trusted_Connection=yes; database=EAMI-RX; connection timeout=30" providerName="System.Data.SqlClient"/>-->
    <add name="EAMIData" connectionString="server=DHITSAWSSQLID11; Trusted_Connection=yes; database=EAMI-Dental; connection timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="DisplaySvcAddrSelectOptions" value="true"/>

    <!--<add key="LocalSvcAddr" value="http://dhitsawsappiq05.intra.dhs.ca.gov/EAMIRXDataSvc/EAMIDataSvc.svc"/>-->

    <add key="DevRXSvcAddr" value="http://dhitsawsappid05.intra.dhs.ca.gov/EAMIRXDataSvc/EAMIDataSvc.svc"/>    
    <add key="DevDntlSvcAddr" value="http://dhitsawsappid05.intra.dhs.ca.gov/EAMIDentalDataSvc/EAMIDataSvc.svc"/>
    
    <add key="QARXSvcAddr" value="http://dhitsawsappiq05.intra.dhs.ca.gov/EAMIRXDataSvc/EAMIDataSvc.svc"/>    
    <add key="QADntlSvcAddr" value="http://dhitsawsappiq05.intra.dhs.ca.gov/EAMIDentalDataSvc/EAMIDataSvc.svc"/>
    
    <add key="StagRXSvcAddr" value="https://eamirxappstage.intra.dhcs.ca.gov/EAMIRXDataSvc/EAMIDataSvc.svc"/>
    <add key="StagDntlSvcAddr" value="https://eamirxappstage.intra.dhcs.ca.gov/EAMIDentalDataSvc/EAMIDataSvc.svc"/>
    
    <!--<add key="LocalSvcAddr" value="http://localhost:8733/Design_Time_Addresses/OHC.EAMI.Service/EAMIServiceOperations/"/>
    <add key="DevSvcAddr" value="http://dhohcgolappid40/EAMIDataSvc/EAMIDataSvc.svc"/>
    <add key="QASvcAddr" value="http://dhohcgolappiq40/EAMIDataSvc/EAMIDataSvc.svc"/>
    <add key="StagingSvcAddr" value="http://dhohcgolappis40/EAMIDataSvc/EAMIDataSvc.svc"/>-->
    
    
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <system.serviceModel>
    <bindings>
      
      <wsHttpBinding>
        <binding name="WSHttpBinding_IEAMIServiceOperations" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="209715200" maxReceivedMessageSize="209715200">
          <security mode="Message">
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>
            
      
      <basicHttpsBinding>
        <binding name="BasicHttpBinding_IEAMIServiceOperations" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                 maxBufferPoolSize="209715200" maxBufferSize="209715200" maxReceivedMessageSize="209715200">
          <security mode="Transport" >
            <transport clientCredentialType="Basic" ></transport>
          </security>
        </binding>
      </basicHttpsBinding>

      <basicHttpBinding>
        <binding name="BasicHttpBindingM1Dev_IEAMIServiceOperations" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                 maxBufferPoolSize="209715200" maxBufferSize="209715200" maxReceivedMessageSize="209715200">
          <!--<security mode="Transport" >
            <transport clientCredentialType="Basic" ></transport>
          </security>-->
        </binding>
 
        <binding name="LocalBasicHttpBinding_IEAMIServiceOperations" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                 maxBufferPoolSize="209715200" maxBufferSize="209715200" maxReceivedMessageSize="209715200">
          <!--<security mode="Transport" >
            <transport clientCredentialType="Basic" ></transport>
          </security>-->
        </binding>
      </basicHttpBinding>
      
    </bindings>
    
    <client>

      <!--EAMI local --><!--
      <endpoint address="http://localhost:8733/Design_Time_Addresses/OHC.EAMI.Service/EAMIServiceOperations/"
                binding="basicHttpBinding" bindingConfiguration="LocalBasicHttpBinding_IEAMIServiceOperations"
                contract="EAMISvcRef.IEAMIServiceOperations" name="LocalBasicHttpBinding_IEAMIServiceOperations">
        <identity>
          <dns/>
        </identity>
      </endpoint>-->
      
      <!--EAMI-Rx staging -->
      <!--<endpoint address="https://eamirxappstage.intra.dhcs.ca.gov/EAMIRXDataSvc/EAMIDataSvc.svc"
                binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IEAMIServiceOperations"
                contract="EAMISvcRef.IEAMIServiceOperations" name="BasicHttpBinding_IEAMIServiceOperations">
        <identity>
          <dns/>
        </identity>
      </endpoint>-->

      <!--EAMI-Dental Dev -->
      <!--<endpoint address="http://dhitsawsappid05/EAMIDentalDataSvc/EAMIDataSvc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingM1Dev_IEAMIServiceOperations"
                contract="EAMISvcRef.IEAMIServiceOperations" name="BasicHttpBindingM1Dev_IEAMIServiceOperations">
        <identity>
          <dns/>
        </identity>
      </endpoint>-->

      <!--EAMI-RX2 Dev -->
      <!--<endpoint address="http://dhitsawsappid05/EAMIRX2DataSvc/EAMIDataSvc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingM1Dev_IEAMIServiceOperations"
                contract="EAMISvcRef.IEAMIServiceOperations" name="BasicHttpBindingM1Dev_IEAMIServiceOperations">
        <identity>
          <dns/>
        </identity>
      </endpoint>-->

      <!--EAMI-Dental Dev (default url when running app)--> 
      <endpoint address="http://dhitsawsappid05/EAMIDentalDataSvc/EAMIDataSvc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingM1Dev_IEAMIServiceOperations"
                contract="EAMISvcRef.IEAMIServiceOperations" name="BasicHttpBindingM1Dev_IEAMIServiceOperations">
        <identity>
          <dns/>
        </identity>
      </endpoint>

      <!--EAMI-RX PROD workaround-->
      <!--<endpoint address="http://dhitsawsappip12.intra.dhs.ca.gov/EAMIRXDataSvc/EAMIDataSvc.svc"
                      binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingM1Dev_IEAMIServiceOperations"
                      contract="EAMISvcRef.IEAMIServiceOperations" name="BasicHttpBindingM1Dev_IEAMIServiceOperations">
        <identity>
          <dns/>
        </identity>
      </endpoint>-->

      <!--EAMI-RX PROD workaround secured --><!--
      <endpoint address="https://eamirxapp.intra.dhcs.ca.gov/EAMIRXDataSvc/EAMIDataSvc.svc"
                      binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IEAMIServiceOperations"
                      contract="EAMISvcRef.IEAMIServiceOperations" name="BasicHttpBinding_IEAMIServiceOperations">
        <identity>
          <dns/>
        </identity>
      </endpoint>-->
      
       <!--EAMI-RX Stag secured -->
      <!--<endpoint address="https://eamirxappstage.intra.dhcs.ca.gov/EAMIDentalDataSvc/EAMIDataSvc.svc"
                      binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IEAMIServiceOperations"
                      contract="EAMISvcRef.IEAMIServiceOperations" name="BasicHttpBinding_IEAMIServiceOperations">
        <identity>
          <dns/>
        </identity>
      </endpoint>-->


      <!--EAMI-Dental QA -->
      <!--<endpoint address="http://dhitsawsappiq05.intra.dhs.ca.gov/EAMIDentalDataSvc/EAMIDataSvc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingM1Dev_IEAMIServiceOperations"
                contract="EAMISvcRef.IEAMIServiceOperations" name="BasicHttpBindingM1Dev_IEAMIServiceOperations">
        <identity>
          <dns/>
        </identity>
      </endpoint>-->

      <!--<endpoint address="https://dhohcgolappiq40.intra.dhs.ca.gov/EAMIDataSvcPRX2/EAMIDataSvc.svc"
                binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IEAMIServiceOperations"
                contract="EAMISvcRef.IEAMIServiceOperations" name="BasicHttpBinding_IEAMIServiceOperations">
        --><!--<identity>
          <dns/>
        </identity>--><!--
      </endpoint>-->

      <!--<endpoint address="http://dhohcgolappiq40/EAMIDataSvc/EAMIDataSvc.svc" binding="wsHttpBinding" 
                bindingConfiguration="WSHttpBinding_IEAMIServiceOperations" 
                contract="EAMISvcRef.IEAMIServiceOperations" name="WSHttpBinding_IEAMIServiceOperations">
        <identity>
          <dns/>
        </identity>
      </endpoint>-->
      
      
    </client>
  </system.serviceModel>
</configuration>
