<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <!--<add name="EAMIUIAuthDatabase" connectionString="server=OHC17KD5049324; Trusted_Connection=yes; database=EAMIAuth; connection timeout=30" providerName="System.Data.SqlClient" />-->
    <add name="EAMIUIAuthDatabase" connectionString="Server=OHC17KD5049324;Database=EAMIAuth;User Id=sa; password=Change121;" providerName="System.Data.SqlClient"/>
    <add name="EAMIUIDatabase" connectionString="server=OHC17KD5049324; Trusted_Connection=yes; database=EAMIAuth; connection timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Warn" internalLogFile="nlog.log">

    <variable name="day" value="${date:format=dd}"/>
    <variable name="month" value="${date:format=MM}"/>
    <variable name="year" value="${date:format=yyyy}"/>

    <variable name="BriefLayout" value="${longdate} : Error-Level: ${level:upperCase=true}; Logger-Name: ${logger}; Error-Message: ${event-context:item=error-message}; "/>
    <variable name="VerboseLayout" value="${BriefLayout} Inner-Error-Message: ${event-context:item=inner-error-message}; Error-Source: ${event-context:item=error-source}; Error-Class: ${event-context:item=error-class}; Error-Method: ${event-context:item=error-method}; Stacktrace: ${exception:format=stacktrace}"/>
    <variable name="ExceptionVerboseLayout" value="${BriefLayout} Inner-Error-Message: ${event-context:item=inner-error-message}; ${newline} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>

    <targets>
      <target name="eventLog" xsi:type="EventLog" layout="${message}" machineName="." source="EAMI" log="Application"/>
      <target name="errorFile" xsi:type="File" layout="${ExceptionVerboseLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.error.log"/>
      <target name="nlogTraceFile" xsi:type="File" layout="${VerboseLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.nLogTrace.log"/>
      <target name="console" xsi:type="Console" layout="${ExceptionVerboseLayout}"/>
    </targets>

    <rules>
      <logger name="*" leves="Fatal" writeTo="eventLog"/>
      <logger name="*" levels="Fatal,Error,Warn,Info,Debug" writeTo="errorFile"/>
      <logger name="*" leves="Trace" writeTo="nlogTraceFile"/>
      <logger name="*" leves="Debug" writeTo="console"/>
    </rules>
  </nlog>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="EAMIwebHttpBinding" maxReceivedMessageSize="2147483646" maxBufferPoolSize="2147483646" sendTimeout="00:30:00" receiveTimeout="00:30:00" closeTimeout="00:30:00" openTimeout="00:30:00">
          <readerQuotas maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxDepth="2147483646" maxStringContentLength="2147483646" maxNameTableCharCount="2147483646"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.232.164.116:80/OHC.EAMI.WebUIServiceHost/EAMIWebUIDataService.svc" binding="webHttpBinding" bindingConfiguration="EAMIwebHttpBinding" contract="OHC.EAMI.CommonEntity.IEAMIWebUIDataService" name="test1" kind="" endpointConfiguration="" behaviorConfiguration="Web"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Web">
          <webHttp helpEnabled="false"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
