<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="EAMIwebHttpBinding" maxReceivedMessageSize="2147483646" maxBufferPoolSize="2147483646" sendTimeout="00:30:00" receiveTimeout="00:30:00" closeTimeout="00:30:00" openTimeout="00:30:00">
					<readerQuotas maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxDepth="2147483646" maxStringContentLength="2147483646" maxNameTableCharCount="2147483646" />
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
					</security>
					<!--<security mode="Transport">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
          </security>-->
				</binding>
			</webHttpBinding>
		</bindings>
		<client>
			<!--<endpoint address="https://DHITSAWSAPPIS05/EAMIRXWebUIDataSvc/EAMIWebUIDataSvc.svc" binding="webHttpBinding" bindingConfiguration="EAMIwebHttpBinding" contract="OHC.EAMI.CommonEntity.IEAMIWebUIDataService" name="test1" kind="" endpointConfiguration="" behaviorConfiguration="Web"/>-->
			<!--<endpoint address="http://dhitsawsappid05/EAMIRXWebUIDataSvc/EAMIWebUIDataSvc.svc" binding="webHttpBinding" bindingConfiguration="EAMIwebHttpBinding" contract="OHC.EAMI.CommonEntity.IEAMIWebUIDataService" name="test1" kind="" endpointConfiguration="" behaviorConfiguration="Web"/>
      <endpoint address="http://dhitsawsappid05/EAMIRX2WebUIDataSvc/EAMIWebUIDataSvc.svc" binding="webHttpBinding" bindingConfiguration="EAMIwebHttpBinding" contract="OHC.EAMI.CommonEntity.IEAMIWebUIDataService" name="PharmacyServiceEndpoint" kind="" endpointConfiguration="" behaviorConfiguration="Web" />
      <endpoint address="http://dhitsawsappid05/EAMIDentalWebUIDataSvc/EAMIWebUIDataSvc.svc" binding="webHttpBinding" bindingConfiguration="EAMIwebHttpBinding" contract="OHC.EAMI.CommonEntity.IEAMIWebUIDataService" name="DentalServiceEndpoint" kind="" endpointConfiguration="" behaviorConfiguration="Web" />-->

			<endpoint address="http://localhost:51095/EAMIWebUIDataService.svc" binding="webHttpBinding" bindingConfiguration="EAMIwebHttpBinding" contract="OHC.EAMI.CommonEntity.IEAMIWebUIDataService" name="ManagedCareServiceEndpoint" kind="" endpointConfiguration="" behaviorConfiguration="Web" />
			<endpoint address="http://dhitsawsappid05/EAMIRXWebUIDataSvc/EAMIWebUIDataSvc.svc" binding="webHttpBinding" bindingConfiguration="EAMIwebHttpBinding" contract="OHC.EAMI.CommonEntity.IEAMIWebUIDataService" name="PharmacyServiceEndpoint" kind="" endpointConfiguration="" behaviorConfiguration="Web" />
			<endpoint address="http://dhitsawsappid05/EAMIDentalWebUIDataSvc/EAMIWebUIDataSvc.svc" binding="webHttpBinding" bindingConfiguration="EAMIwebHttpBinding" contract="OHC.EAMI.CommonEntity.IEAMIWebUIDataService" name="DentalServiceEndpoint" kind="" endpointConfiguration="" behaviorConfiguration="Web" />

		</client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="Web">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup></configuration>
