<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="DatabaseFactoryConfiguration" type="OHC.EAMI.DataAccess.Test.Common.DatabaseFactorySectionHandler, OHC.EAMI.DataAccess.Test, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <connectionStrings>
    <add name="EAMIData" connectionString="server=localhost; Trusted_Connection=yes; database=EAMI-PRX; connection timeout=30" providerName="System.Data.SqlClient"/>
    <add name="EAMI-RX-Data" connectionString="server=localhost; Trusted_Connection=yes; database=EAMI-PRX; connection timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <DatabaseFactoryConfiguration Name="OHC.EAMI.DataAccess.Test.Common.SQLDatabase" ConnectionStringName="MyConnection1"/>

  <appSettings>
    <add key="IsProductionEnvironment" value="false"/>
    <add key="SMTPServer" value="smtpoutbound.dhs.ca.gov"/>
    <add key="NoReplyEmailAddr" value="NoReply@dhcs.ca.gov"/>
    
    
    <add key="RootPath" value="C:\EAMI"/>
    <add key="folder_sco_send" value="TEMP_SFTP\SND_TO_SCO"/>
    <add key="folder_sco_receive" value="TEMP_SFTP\RCV_FROM_SCO"/>
    <add key="folder_archive_ecs_to_sco" value="ARCHIVE\ECS_TO_SCO"/>
    <add key="folder_archive_sco_dex" value="ARCHIVE\SCO_DEX"/>
    <add key="ftp_host" value="etransfer.dhcs.ca.gov"/>
    <add key="ftp_port" value="22"/>
    <add key="ftp_username" value="ggidenko"/>
    <add key="ftp_password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAoVf0TaQFxkSVZqf+Xn/isQQAAAACAAAAAAADZgAAwAAAABAAAACT/zSBqVxKVK9YkvuUkmVtAAAAAASAAACgAAAAEAAAAEfersuccoEHTfUE2WKbiGIgAAAAphp3RrOTH2TAtz6wZNl9aAtgMSUPf86y70VU6cdfg+AUAAAAYv3kvP7YGDe+RIRduujJmzCY618="/>  
    <add key="ftp_folder_to_sco" value="/Home/ggidenko"/>
    <add key="ftp_folder_from_sco" value="/Home/ggidenko"/>
    <add key="IsProductionEnvironment" value="false"/>
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="day" value="${date:format=dd}"/>
    <variable name="month" value="${date:format=MM}"/>
    <variable name="year" value="${date:format=yyyy}"/>

    <variable name="BriefLayout" value="${longdate} ${level:upperCase=true} ${logger} : ${message}"/>
    <variable name="VerboseLayout" value="${longdate} ${level:upperCase=true} ${logger} ${message} (${callsite:includSourcePath=true})"/>
    <variable name="ExceptionVerboseLayout" value="${VerboseLayout}${newline}(${stacktrace:topFrames=10})${newline}${exception:format=ToString}"/>

    <targets>
      <target name="eventLog" xsi:type="EventLog" layout="${message}" machineName="." source="EAMI" log="Application"/>
      <target name="file" xsi:type="File" layout="${BriefLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.log"/>
      <target name="errorFile" xsi:type="File" layout="${ExceptionVerboseLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.error.log"/>
      <target name="nlogTraceFile" xsi:type="File" layout="${VerboseLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.nLogTrace.log"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="file"/>
      <logger name="*" minlevel="Error" writeTo="errorFile"/>
      <logger name="*" minlevel="Warn" writeTo="eventLog"/>
      <logger name="OHC.EAMI.NLog.*" level="Trace" writeTo="nlogTraceFile"/>
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
