@using OHC.EAMI.WebUI.Helpers
@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:25px;"></div>

<div id="divLoadingAnimation" class="panel">
    <div id="divLoadingAnimation_Inner">
    </div>
</div>

@using (Html.BeginForm("ViewUsers", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @ID = "frmViewUsers", autocomplete = "off" }))
{
    @*@Html.AntiForgeryToken()*@


    <div class="col-lg-offset-0 col-lg-12" id="dvMainArea">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #17315a; color: white;">
                <h3 class="panel-title"><i class="fa fa-users">&nbsp;</i>View Active Users</h3>
            </div>
            <div class="panel-body">
                <div id="dvErrorHolder"></div>
                <div style="clear:both"></div>
                <div class="row" style="margin-bottom:20px;margin-top:20px;">
                    <div class="col-xs-12 outer" style="text-align: right;margin-right:10px;">
                        <input type="hidden" id="hdn_ProgramChoiceId" value="@Session["ProgramChoiceId"]" />
                        @*<button type="button" onclick="javascript: return TestAlex();" class="btn btn-dhcs-secondary btn-md" id="btnAddNewUser" style="float:right;margin-right:10px;">Export to PDF</button>*@
                    </div>
                </div>
                <div style="clear:both"></div>
                <hr />
                <div id="dvgridArea">
                </div>

            </div>
        </div>
    </div>
}
<div id="dvActionArea">
</div>

<link type="text/css" href="~/Scripts/App/EAMI_Common.css" rel="stylesheet" />

<script type="text/javascript">
    //// Start Loading... Animation
    $('#divLoadingAnimation').css("display", "block");
    EAMIShowAjaxLoadingContent('divLoadingAnimation_Inner');
    var prgId = document.getElementById('hdn_ProgramChoiceId').value;

    $(function () {
        eami.antiForgeryToken = '@Html.AntiForgeryTokenAjax()' + ':' + prgId;
        $.ajaxSetup({
            beforeSend: function (xhr) {
                xhr.setRequestHeader('ProgramChoiceId', prgId);
                xhr.setRequestHeader('X-CSRF-Token', eami.antiForgeryToken);
            }
        });
    });

    $(document).ready(function () {
        //EAMIShowAjaxLoadingContent('dvgridArea');
        $('#dvgridArea').load(getEAMIAbsoluteUrl('~/Administration/ViewUsersList'));
    });
</script>
