<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="day" value="${date:format=dd}"/>
    <variable name="month" value="${date:format=MM}"/>
    <variable name="year" value="${date:format=yyyy}"/>

    <variable name="BriefLayout" value="${longdate} : Error-Level: ${level:upperCase=true}; Logger-Name: ${logger}; Error-Message: ${Message}; Inner-Error-Message: ${event-context:item=inner-error-message}; Error-Source: ${event-context:item=error-source}; Error-Class: ${event-context:item=error-class}; Error-Method: ${event-context:item=error-method};"/>
    <variable name="VerboseLayout" value="${BriefLayout} Stacktrace: ${exception:format=stacktrace}"/>
    <variable name="ExceptionVerboseLayout" value="${BriefLayout}${newline} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>

    <targets>
      <target name="eventLog" xsi:type="EventLog" layout="${message}" machineName="." source="EAMI" log="Application"/>
      <target name="file" xsi:type="File" layout="${BriefLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.log"/>
      <target name="errorFile" xsi:type="File" layout="${ExceptionVerboseLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.error.log"/>
      <target name="nlogTraceFile" xsi:type="File" layout="${VerboseLayout}" fileName="${basedir}/logs/EAMI.${year}.${month}.${day}.nLogTrace.log"/>
      <target name="console" xsi:type="Console" layout="${ExceptionVerboseLayout}"/>
    </targets>

    <rules>
      <!--<logger name="*" minlevel="Debug" writeTo="console" />
      <logger name="*" minlevel="Trace" writeTo="file" />-->
      <logger name="*" minlevel="Error" writeTo="errorFile"/>
      <!--<logger name="*" minlevel="Warn" writeTo="eventLog" />
      <logger name="OHC.EAMI.NLog.*" level="Trace" writeTo="nlogTraceFile" />-->
    </rules>
  </nlog>

  <connectionStrings>
    <add name="CAPMANData" connectionString="server=DHOHCGOLSQLIS21; Trusted_Connection=yes; database=OHC820; connection timeout=30" providerName="System.Data.SqlClient"/>
    <!--<add name="EAMIData" connectionString="server=localhost; Trusted_Connection=yes; database=EAMI; connection timeout=30" providerName="System.Data.SqlClient"/>-->
    <!--<add name="EAMIData" connectionString="server=DHITSAWSSQLISTAG11; Trusted_Connection=yes; database=EAMI-RX; connection timeout=30" providerName="System.Data.SqlClient"/>-->
    <add name="EAMIData" connectionString="server=DHITSAWSSQLID11; Trusted_Connection=yes; database=EAMI-Dental; connection timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>

  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
